extends layout

block content
    div
        table.rounds-table
            thead
                tr
                    td Player 1
                    td Score
                    td Player 2
                    td Score
                    td TimeStamp
            tbody
                each round, i in rounds
                    tr
                        td #{round.p1Name}
                        td #{round.p1Score}
                        td #{round.p2Name}
                        td #{round.p2Score}
                        td #{round.readableTimestamp}